:root {
  --primary-color: #3c8067;
  --secondary-color: #e8f7ef;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 140px;
  letter-spacing: 15px;
}

h2 {
  color: var(--primary-color);
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

img {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.about-paragraph {
  max-width: 70%;
  text-align: justify;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}
.hero {
  background: linear-gradient(to top, #cdd6ce 0%, #deecdda9 100%);
  text-align: center;
  padding: 80px 20px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraph h3 {
text-decoration: underline;
font-size: 40px;
}
.button-link {
  padding: 15px 20px;
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  margin-inline: 25px;
  background: var(--primary-color);
  color: white;
  border-radius: 18px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
  transition: 140ms ease-in-out;
}

.button-link:hover {
  color: var(--primary-color);
  background: none;
  border-color: var(--primary-color);
  border: 1px solid;
}

.button-links {
  text-align: center;
}

.contact-links {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}

.far,
.fab {
  color: var(--primary-color);
}

.contact {
  margin-top: 30px;
  color: #212529;
}

.skillset {
  list-style: none;
  margin-top: 10px;
  padding-bottom: 10px;
}
.skillset li {
  padding: 8px;
  font-size: large;
}

.skillset .skill {
  color: seagreen;
  font-weight: bolder;
}

@media (max-width: 576px) {
  h1 {
    line-height: normal;
    font-size: 60px;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
  .col-6 {
    width: max-content;
    text-align: center;
  }

  .button-link {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
  }
}
